<!DOCTYPE html>
<html>
  <head>
    <title>Cheersly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">

  </head>
  <body>
 <nav>
    <div class="logo">cheersly</div>
    <a href="/drinks/new">add drink</a>
 </nav>