<!DOCTYPE html>
<html>
  <head>
    <title>Cheersly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/review-form.css">

  </head>
  <body>
 <nav>
    <a href="/" class="logo">cheersly</a>
    <a href="/drinks/new">add drink</a>
    <a href="/">
      <% if (user) { %>
       <a href="/logout">logout</a>

       <% } else { %>
        <a href="/auth/google" class="login">login</a>


      <% } %>
    </a>
 </nav>