<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#513420" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="https://use.typekit.net/rih3pbi.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/animation.css" />
    <title>Cheersly</title>
    <script src="/javascripts/nav.js" defer></script>
  </head>
  <body>
    <nav id="nav">
      <div class="categories">
        <a href="/categories/drinks/beer">beer</a>
        <a href="/categories/drinks/cocktails">cocktails</a>
        <a href="/categories/drinks/wine">wine</a>
      </div>

      <a href="/" class="logo"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="279"
          height="47"
          viewBox="0 0 279 47"
          fill="curentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M42.2344 0.600098H51.3864V13.4441C52.2184 12.3521 53.3104 11.4161 54.8704 10.7401C57.0024 9.8041 59.6544 9.7001 61.0064 9.7001C63.9704 9.7001 66.8304 10.2721 68.7544 11.4681C72.6544 13.9121 72.7064 18.1761 72.7064 21.0881V37.0001H63.5544V22.7001C63.5544 21.3481 63.5544 18.8001 62.1504 17.2921C61.4224 16.5121 60.1224 15.8361 58.0424 15.8361C56.2744 15.8361 54.6624 16.2521 53.3624 17.7081C51.5424 19.7361 51.3864 22.7521 51.3864 25.0401V37.0001H42.2344V0.600098ZM240.12 0.600098H230.968V37.0001H240.12V0.600098ZM250.715 40.536V46.204C252.639 46.828 253.991 46.932 255.967 46.932C258.567 46.932 261.219 46.724 263.559 44.488C265.28 42.8684 266.361 40.3129 267.472 37.6844L267.472 37.6841L267.563 37.468L278.795 10.584H270.215L264.079 28.212L257.059 10.584H247.855L259.087 35.388L258.567 36.948C258.203 37.988 257.423 39.444 256.591 40.12C255.811 40.744 254.615 41.004 253.471 41.004C253.107 41.004 252.015 40.952 250.715 40.536ZM192.696 28.6799H201.64V28.8359C201.64 30.2919 202.576 31.1239 203.356 31.5399C203.668 31.6959 204.708 32.2159 207.464 32.2159C209.544 32.2159 210.584 31.9039 211.156 31.5919C212.404 30.9679 212.612 30.0319 212.612 29.5119C212.612 28.0559 211.468 27.4839 210.636 27.1719C209.501 26.7465 208.281 26.5789 206.661 26.3565C206.5 26.3343 206.334 26.3116 206.164 26.2879L203.044 25.8199C198.78 25.1959 196.96 24.6239 195.816 23.8959C193.528 22.4919 192.956 20.3079 192.956 18.2799C192.956 15.1079 194.36 12.9759 196.96 11.4679C198.884 10.3239 201.796 9.54395 206.84 9.54395C212.612 9.54395 215.056 10.4799 216.148 10.9479C219.476 12.4559 220.672 14.7439 220.724 17.8639H211.988V17.7599C211.988 16.8759 211.572 16.0959 210.48 15.5759C209.492 15.1079 207.984 14.9519 206.892 14.9519C205.748 14.9519 204.292 15.1079 203.46 15.5239C202.42 16.0439 201.952 16.9279 201.952 17.6559C201.952 18.7999 202.94 19.3199 203.512 19.5799C204.417 19.9735 205.501 20.1287 207.124 20.3613C207.645 20.436 208.223 20.5188 208.868 20.6199L212.404 21.1399C214.172 21.3999 217.5 22.0239 219.424 23.5839C220.776 24.6759 221.972 26.3919 221.972 29.1479C221.972 31.5399 221.14 33.3599 219.84 34.7639C216.98 37.8319 212.612 38.0399 208.192 38.0399C202.68 38.0399 198 37.6759 195.14 34.9199C192.904 32.7359 192.696 30.1879 192.696 28.7839V28.6799ZM187.179 16.46V10.168C186.347 10.012 185.619 9.95996 184.787 9.95996C182.863 9.95996 181.043 10.272 179.327 11.156C177.247 12.248 175.999 13.756 175.323 14.9V10.584H166.535V37H175.687V27.068C175.687 25.092 175.999 20.152 179.431 17.812C180.783 16.876 182.707 16.356 185.255 16.356C185.931 16.356 186.711 16.408 187.179 16.46ZM133.166 20.8279H147.778C147.674 18.6959 146.634 17.3959 145.906 16.7719C144.346 15.3679 142.214 15.2119 140.498 15.2119C138.626 15.2119 136.91 15.4199 135.35 16.6679C134.31 17.4999 133.322 18.8519 133.166 20.8279ZM147.622 28.3679H156.826C156.514 31.7479 154.694 34.9719 151.106 36.5839C148.61 37.6759 145.438 37.9879 141.174 37.9879C135.194 37.9879 130.67 37.4679 127.29 34.088C124.274 31.0719 123.65 27.4839 123.65 24.2079C123.65 21.5039 124.118 17.0839 127.602 13.7039C131.242 10.1679 136.286 9.59595 140.446 9.59595C144.554 9.59595 150.014 10.2719 153.602 13.8599C156.878 17.1359 157.19 21.3999 157.19 24.5719V25.5079H133.01V25.6639C133.01 27.9519 133.842 29.5119 134.726 30.3959C136.286 31.9559 138.782 32.1639 140.55 32.1639C141.902 32.1639 143.982 32.0599 145.282 31.4359C146.27 30.9679 147.258 30.0839 147.622 28.3679ZM106.142 20.8279H91.5295C91.6855 18.8519 92.6735 17.4999 93.7135 16.6679C95.2735 15.4199 96.9895 15.2119 98.8615 15.2119C100.578 15.2119 102.71 15.3679 104.27 16.7719C104.998 17.3959 106.038 18.6959 106.142 20.8279ZM115.19 28.3679H105.986C105.622 30.0839 104.634 30.9679 103.646 31.4359C102.346 32.0599 100.266 32.1639 98.9135 32.1639C97.1455 32.1639 94.6495 31.9559 93.0895 30.3959C92.2055 29.5119 91.3736 27.9519 91.3736 25.6639V25.5079H115.554V24.5719C115.554 21.3999 115.242 17.1359 111.966 13.8599C108.378 10.2719 102.918 9.59595 98.8095 9.59595C94.6495 9.59595 89.6055 10.1679 85.9655 13.7039C82.4815 17.0839 82.0135 21.5039 82.0135 24.2079C82.0135 27.4839 82.6376 31.0719 85.6535 34.088C89.0335 37.4679 93.5575 37.9879 99.5375 37.9879C103.802 37.9879 106.974 37.6759 109.47 36.5839C113.058 34.9719 114.878 31.7479 115.19 28.3679ZM24.116 19.9439H32.9039C32.8519 17.6559 32.228 14.2239 28.12 11.8319C26.612 10.9479 23.44 9.59595 17.252 9.59595C13.248 9.59595 7.99595 10.2199 4.45995 13.9639C2.74395 15.7839 0.92395 18.9559 0.92395 24.2079C0.92395 29.9799 3.21195 32.9439 4.51195 34.2439C7.99595 37.7279 13.248 37.9879 17.512 37.9879C22.296 37.9879 27.028 37.7279 30.2 34.452C31.5 33.0999 33.008 30.7079 33.008 27.2239V27.0679H24.168C24.116 28.8359 23.284 30.2399 22.192 31.0199C20.892 31.9559 19.0719 32.0599 17.8759 32.0599C16.16 32.0599 14.08 31.8519 12.52 30.2919C11.324 29.0959 10.388 27.0159 10.388 24.0519C10.388 23.1159 10.44 19.8399 12.364 17.6559C13.82 15.9919 15.796 15.5239 17.824 15.5239C19.28 15.5239 20.944 15.7839 22.14 16.5119C23.856 17.6039 24.064 19.1639 24.116 19.9439Z"
            fill="currentColor"
          /></svg
      ></a>
      <div class="user">
        <a href="/">
          <% if (user) { %>
          <a href="/logout">logout</a>

          <% } else { %>
          <a href="/auth/google" class="login">login</a>

          <% } %>
        </a>
      </div>
      <a href="/drinks/new" style="display: none">add drink</a>
    </nav>
  </body>
</html>
