<!DOCTYPE html>
<html>
  <head>
    <title>Cheersly</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://use.typekit.net/rih3pbi.css">
    <link rel='stylesheet' href='/styles/main.css' />
    
  </head>
  <body>
 <nav>
    <a href="/" class="logo">cheersly</a>
    <a href="/drinks/new" style="display: none;">add drink</a>
    <a href="/">
      <% if (user) { %>
       <a href="/logout">logout</a>

       <% } else { %>
        <a href="/auth/google" class="login">login</a>


      <% } %>
    </a>
 </nav>