<%- include('../partials/header') %>

<form action="/drinks" method="post">
    <h1>drink category</h1>
    <select name="category" id="">
        <option value="beer">Beer</option>
        <option value="wine">Wine</option>
        <option value="cocktails">cocktails</option>
        <option value="mocktails">mocktails</option>
    </select>
    <br>
    <h1>what's the name of the drink</h1>
    <input type="text" name="label" id="">
    <button type="submit">add drink</button>
</form>

<%- include('../partials/footer') %>