<%- include('../partials/header') %>
<div class="reviews-container">
  <div class="drink-overview">
    <div class="title"><%= drink.label %></div>
    <div class="overview-scorecard">
      <div class="score-container">
        <div class="subtitle">Overall Score</div>
        <div class="overview-scorecard_score">5/5</div>
      </div>
      <div class="score-container">
        <div class="subtitle">Best Location</div>
        <div class="overview-scorecard_score">Chattanooga, TN</div>
      </div>
      <div class="score-container">
        <div class="subtitle">Worst Location</div>
        <div class="overview-scorecard_score">Nashville, TN</div>
      </div>
    </div>
    <a href="/drinks/form" class="cta">add a review</a>
  </div>
</div>
<%- include('../partials/footer') %>
