@import "mixins";
@import "typography";

.category-main-title {
  width: 1280px;
  margin: 0 auto;
  padding: 120px 0px 40px 0px;
  border-bottom: 1px solid $text-200;

  @media screen and (max-width: 728px) {
    width: 90%;
    padding: 80px 0px 40px 0px;

    margin: 0 auto;
  }

  h2 {
    font-size: 44px;
  }
  p {
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.category-drink-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280px;
  margin: 44px auto;
  gap: 24px;

  @media screen and (max-width: 728px) {
    width: 90%;
    margin: 12px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20;
  }

  .card {
    margin-bottom: 34px;
    color: $text-100;

    @media screen and (max-width: 728px) {
      margin-bottom: 20px;
      width: 100%;
    }

    .content {
      margin-top: 4px;
      @extend .flx-row-sb;

      h2 {
        text-transform: uppercase;
      }

      img {
        height: 20px;
        transform: rotate(45deg);
      }
    }

    .image {
      width: 100%;
      border-radius: 16px;
      background-position: center;
      aspect-ratio: 1/1;
      background-size: cover;
      @media screen and (max-width: 728px) {
        width: 100%;
        aspect-ratio: 1/1;
        background-position: center;
      }
    }
  }
}
