@import "mixins";
@import "typography";

.drink-reviews-header {
  height: 90vh;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding:64px 0 0 0;
  gap: 12px;

  .image {
    height: 60%;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 16px;
  }

  .drink-details {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .review-overview {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .review-row {
        p {
          font-size: 14px
        }

        &:nth-child(2) {
          text-align: right;
        }
      }

      

    }
    .btn-primary {
      width: 100%;
      color: $orange-100;
      border: 1px solid $orange-100;
    }
  }
}

.reviews-container {
  width: 90%;
  margin: 0 auto;

  .review-card {
    width: 100%;
  }
}
