@import "mixins";
@import "typography";

.drink-reviews-header {
  width: 1280px;
  padding: 100px 0;
  margin: 0 auto;
  @extend .flx-row-sb;

  .image {
    aspect-ratio: 3/4;
    width: 40%;
    background-size: cover;
    order: 2;
  }
}

.drink-details {
  @extend .flx-col;
  width: 60%;
  align-items: flex-start;

  .review-overview {
    width: 70%;
    @extend .flx-col;
    justify-content: flex-start;
    align-items: flex-start;

    .review-row {
      @extend .flx-row-sb;
      width: 100%;
      padding: 24px 0px;
      border-bottom: 1px solid $text-200;

      .review-score {
        font-family: "ivypresto-display", serif;
        font-weight: 100;
        font-style: normal;
        font-size: 22px;
      }
    }
  }

  .btn-primary {
    border: 1px solid $orange-100;
    margin-top: 54px;
    color: $orange-100;
  }
}

.drink-banner {
  width: 100%;
  background: $bg-200;
  color: $text-100;

  .container {
    width: 1280px;
    margin: 0 auto;
    @extend .flx-row-sb;
    padding: 24px 0px;
    
    
    .subtitle {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: .2em;
    }
  }

}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bg-300;
  color: white;

  h2 {
    text-transform: uppercase;
  }

  .container {
    display: flex;
    width: 1280px;
    flex-direction: column;
    margin: 0 auto;
  }

  .details {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 12px;
    h2 {
      font-size: 44px;
      font-style: italic;
    }
  }
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 54px 0px;

  .row-1 {
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 200px;

    p {
      color: $bg-100
    }

    .star-rating {
      background: rgba(255, 255, 255, 0.25);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding: 30px 20px;
      gap: 20px;
      border-radius: 16px;

      h3 {
        line-height: 32px;
        margin-bottom: 12px;
      }
    }
  }

  .row-2 {
    display: flex;
    gap: 20px;

    .column {
      display: flex;
      flex-direction: column;
      width: 50%;

      input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        height: 60px;
        padding: 10px;
      }

      .locale {
        margin-top: 20px;
        div {
          display: flex;
          gap: 20px;

          input[name="city"] {
            width: 75%;
          }
          input[name="state"] {
            width: 25%;
          }
        }
      }
    }
  }

  button {
    margin: 0 auto;
    width: 100%;
    background: none;
    border: 1px solid $bg-200;
    color: $bg-200;
    margin-top: 54px;
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}
.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 30px;
  color: $bg-100;
}

.rating:not(:checked) > label:before {
  content: "\2605";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $orange-100;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $orange-100;
}

.rating > input:checked ~ label {
  color: $orange-100;
}

input[type="radio"]:focus + label {
  outline: 2px solid transparent;
}

.comment {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  h3 {
    margin: 0;
  }

  textarea {
    width: 100%;
    border: none;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.25);
    height: 200px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: white;
    padding: 24px;
  }
}

input[type=text] {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: white;
}



input::placeholder {
  color: rgba(255,255,255,.25)
}

.border {
  outline: none;
}

.border {
  border-color: none;
}