@import "mixins";
@import "typography";

.main-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  justify-content: center;

  .image {
    background-image: url("../images/bettybuzz-spritz.gif");
    background-size: cover;
    background-position: top;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    z-index: -99;
    background-position: 80% 20%;
    @media screen and (max-width: 728px) {
      height: 100%;
      background-position: top;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 1280px;
    margin: 0 auto;
    padding: 10vmin 0 5vmin 0;

    .container {
      color: white;
      h2 {
        line-height: 7vmin;
        font-size: 8vmin !important;
      }
    }

    @media screen and (max-width: 728px) {
      padding: 60px 30px;
      width: 100%;
    }

    h1 {
      margin-bottom: 12px;
    }

    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $bg-100;
        width: 100%;
        height: 30vmin;
      }
    }
  }

  a {
    @extend .btn-primary;
    margin-top: 5vmin;
    background: $accent;
    color: white;

    @media screen and (max-width: 728px) {
      background-color: transparent;
      background: $accent;
      color: white;
      margin-top: 24px;
    }

    &:hover {
      background: white;
      color: $accent;
    }
  }
}

.banner {
  width: 100%;
  overflow: hidden;
  background: $text-100;
  color: $bg-100;

  .container {
    display: flex;
    justify-content: flex-start;
    text-wrap: nowrap;
    height: 40px;
    align-items: center;

    .label {
      font-family: Inter, sans-serif;
      font-weight: 100;
      font-size: 60px;
      text-transform: uppercase;
      margin-left: 40px;
    }
  }
}

.index-drinks-section {
  display: flex;
  flex-direction: column;
  margin: 34px auto;
  max-width: 1280px;
  gap: 24px;

  @media screen and (max-width: 728px) {
    width: 90%;
    gap: 20px;
  }

  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    align-content: center;

    @media screen and (max-width: 728px) {
      display: flex;
      flex-direction: column;
    }

    .card {
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;

      @media screen and (max-width: 728px) {
        height: 300px;
      }

      .image {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-size: cover;
        border-radius: 16px;

        @media screen and (max-width: 728px) {
          background-position: center;
        }
      }

      .card-details {
        @extend .flx-row-sb;
        color: $text-100;
        text-transform: capitalize;
        padding: 0px 8px;

        img {
          height: 20px;
          transform: rotate(45deg);
        }
      }
    }
  }
}
