@import 'mixins';

.main-hero {
    @extend .width-margin;
    text-transform: uppercase;
    background: lightblue;

    h1 {
        width: 40%;
    }
}

.index-drinks-section {
    @extend .flx-row-sb;
    @extend .width-margin;

    .card {
        height: 450px;;
        width: 30%;
        position: relative;

        .image {
            height: 100%;
            width: 100%;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -99;
        }
    }

}