@import "mixins";
@import "typography";

.review-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 0px;
  border-bottom: 1px solid $text-500;

  &_top {
    @extend .flx-row-sb;

    .user-info {
      display: flex;
      align-items: center;
      gap: 6px;

      .user-date {
        .name {
          color: $text-300;
          font-size: 12px;
          font-weight: 500;
        }
      }
      img {
        height: 38px;
        width: 38px;
        border-radius: 100%;
      }
    }
  }
  
  &_bottom {
    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  &_scorecard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 12px;
    gap: 8px;
    .scorecard-block {
      padding: 8px;
      text-align: center;
      background: rgba(255, 255, 255, .5);
      border-radius: 8px;
      h3 {
        font-size: 18px;
        font-weight: 300;
        span {
          font-size: 12px;
        }
      }
      .sub-title {
        font-size: 8px;
        font-family: Inter, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.12em;
        color: $text-300;
      }
    }

  }
}
