@import url("https://use.typekit.net/rih3pbi.css");

$bg-100: #f2ede2;
$bg-200: #eadab7;
$bg-300: #b98a65;
$orange-100: #e65819;
$text-100: #513420;
$text-200: #826a5a;
$text-300: #947e70;
$text-400: #a59286;
$text-500: #b7a79d;


h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
  margin: 8px;
  color: $bg-100

}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  
}