@import url("https://use.typekit.net/rih3pbi.css");

$bg-100: #f2ede2;
$bg-200: #eadab7;
$bg-300: #b98a65;
$orange-100: #e65819;
$text-100: #1c1917;
$text-200: #44403c;

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  
}