.drink-reviews-header {
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.image {
    height: 600px;
    aspect-ratio: 1 / 1;
    background: lightgrey;
    border-radius: 16px;
}

.drink-details {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 34px;
    height: 600px;
    aspect-ratio: 1/1;
    justify-content: center;
    gap: 44px;
}

.review-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 18px 0;
}

.drink-banner {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    background: lightgrey;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.review-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 18px;
    border-bottom: 1px solid black;
    padding: 36px 0px;
}

.review-card_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.review-card_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.review-card_scorecard {
   display: flex;

   
}

.scorecard-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid black;
    width: 100px;
    justify-content: center;
}

.sub-title {
    font-size: 10px;
}