@import "./style.css";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  margin-top: 120px;
}

.main-headline {
  width: 50%;
  font-size: 94px;
  font-family: tandelle, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 100px;
}

.main-image {
  background: lightgrey;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

.search-section {
  width: 75%;
  padding: 54px 0px;
}

.main-search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.main-search-bar {
  width: 100%;
  border-bottom: 1px solid black;
}

.main-search > button {
  height: 60px;
  width: 350px;
  border-radius: 100px;
}

.index-drinks-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.category-container {
  background-size: cover;
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.category-image {
  height: 300px;
  background-size: cover;
  position: absoulte;

}

.category-card-top {
    display: flex;
    padding: 24px;
    align-items: baseline;
    gap: 12px;
}
