@import "typography";
@import "index";
@import "mixins";
@import "category";
@import "drinks";
@import "scorecard";
@import "form";

body {
  background: $bg-100;
  height: 100vh;
  margin: 0 auto;
  color: #513420;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  width: 100%;
  @extend .flx-row-sb;
  padding: 20px 30px;
  position: fixed;
  z-index: 100;
  a {
    color: $text-100;
  }

  @media screen and (max-width: 728px) {
    padding: 10px 30px;
    color: $text-100;
  }

  @media screen and (min-width: 728px) {
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $text-100;
    }
  }

  .categories,
  .user {
    @extend .flx-row-start;
    gap: 32px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 300;
    @media screen and (max-width: 728px) {
      font-size: 16px;
    }
  }

  .user {
    border: 1px solid $text-100;
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .categories {
    @media screen and (max-width: 728px) {
      display: none;
    }
  }

  .categories:hover {
    font-style: italic;
  }
}

.footer {
  background: $bg-200;
  width: 100%;

  .container {
    width: 100%;
    @extend .flx-row-sb;
    padding: 30px;
    color: white;
    img {
      width: 150px;
    }
  }
}

.new-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
