/* global styling */

:root {
  --light-bg: #E1D6B8;
  --accent-1: #e65227;
  --accent-2: #fbb71f;
  --accent-3: #414e24;
  --accent-4: #f05365;
  --text-500: #282728;
  --text-100: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0
}

body {
  background: white;
  color: var(--text-500);
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 54px;
  max-width: 1280px;
}



/* typography */
h1 {
  font-size: 24px;
  font-weight: 300
}

h2 {
  font-family: tandelle, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 44px;
}

.title {
  font-weight: 500;
  font-size: 76px
}


/* CTAs */
.btn-primary {
  height: 60px;
  width: 400px;
  border-radius: 100px;
  background: lightgrey;
  text-align: center;
  display: grid;
  place-items: center;
}

.btn-secondary {
  background-image: url('../images/arrow.svg');
  background-size:contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 30px;
  transform: rotate(45deg);
  background-position: center;
}

nav {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
}

.footer {
  height: 120px;
}

