@charset "UTF-8";
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .drink-banner .container, .drink-details .review-overview .review-row, .drink-reviews-header, .category-drink-container .card .content, .index-drinks-section .container .card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col, .drink-details .review-overview, .drink-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #e65819;
}

.btn-primary, .main-hero a {
  height: 80px;
  width: 300px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.main-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 80vh;
}
.main-hero .image {
  background-image: url("../images/bettybuzz-spritz.gif");
  background-size: cover;
  background-position: top;
}
.main-hero .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 46px 46px 120px 46px;
}
.main-hero .content h1 {
  margin-bottom: 12px;
}
.main-hero .content .logo {
  font-size: 64px !important;
}
.main-hero a {
  margin-top: 54px;
  background-color: #b98a65;
  color: white;
}
.main-hero a:hover {
  background-color: transparent;
  color: #b98a65;
  border: 2px solid #b98a65;
}

.banner {
  width: 100%;
  overflow: hidden;
  background: #eadab7;
  color: #f2ede2;
}
.banner .container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  transform: scale(4.5);
}
.banner .container .label {
  font-family: Inter, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.index-drinks-section {
  display: flex;
  flex-direction: column;
  margin: 34px auto;
  width: 1280px;
}
.index-drinks-section .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-bottom: 54px;
}
.index-drinks-section .container .card {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.index-drinks-section .container .card .image {
  width: 100%;
  height: 90%;
  background-size: cover;
}
.index-drinks-section .container .card .card-details {
  color: #1c1917;
  text-transform: uppercase;
}
.index-drinks-section .container .card .card-details img {
  height: 20px;
  transform: rotate(45deg);
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .drink-banner .container, .drink-details .review-overview .review-row, .drink-reviews-header, .category-drink-container .card .content, .index-drinks-section .container .card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col, .drink-details .review-overview, .drink-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #e65819;
}

.btn-primary, .main-hero a {
  height: 80px;
  width: 300px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .drink-banner .container, .drink-details .review-overview .review-row, .drink-reviews-header, .category-drink-container .card .content, .index-drinks-section .container .card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col, .drink-details .review-overview, .drink-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #e65819;
}

.btn-primary, .main-hero a {
  height: 80px;
  width: 300px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.category-main-title {
  width: 1280px;
  margin: 0 auto;
  height: 100px;
  padding: 120px 0px;
  border-bottom: 1px solid #44403c;
}
.category-main-title p {
  text-transform: uppercase;
}

.category-drink-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280px;
  margin: 54px auto;
  gap: 24px;
}
.category-drink-container .card {
  margin-bottom: 34px;
  color: #1c1917;
}
.category-drink-container .card .content {
  margin-top: 4px;
}
.category-drink-container .card .content h2 {
  text-transform: uppercase;
}
.category-drink-container .card .content img {
  height: 20px;
  transform: rotate(45deg);
}
.category-drink-container .card .image {
  width: 100%;
  height: 400px;
  background-size: cover;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .drink-banner .container, .drink-details .review-overview .review-row, .drink-reviews-header, .index-drinks-section .container .card .card-details, .category-drink-container .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col, .drink-details .review-overview, .drink-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #e65819;
}

.btn-primary, .main-hero a {
  height: 80px;
  width: 300px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 94px;
  line-height: 102px;
  text-transform: capitalize;
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 45px;
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.drink-reviews-header {
  width: 100%;
  padding: 100px 60px;
}
.drink-reviews-header .image {
  aspect-ratio: 3/4;
  width: 40%;
  background-size: cover;
  order: 2;
}

.drink-details {
  width: 60%;
  align-items: flex-start;
}
.drink-details .review-overview {
  width: 60%;
  justify-content: flex-start;
  align-items: flex-start;
}
.drink-details .review-overview .review-row {
  width: 100%;
  padding: 24px 0px;
  border-bottom: 1px solid #44403c;
}
.drink-details .review-overview .review-row .review-score {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
}
.drink-details .btn-primary, .drink-details .main-hero a, .main-hero .drink-details a {
  border: 2px solid #e65819;
  margin-top: 54px;
  color: #e65819;
}

.drink-banner {
  width: 100%;
  background: #eadab7;
  color: #1c1917;
}
.drink-banner .container {
  width: 1280px;
  margin: 0 auto;
  padding: 24px 0px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #b98a65;
  color: white;
}
.form-container h2 {
  text-transform: uppercase;
}
.form-container .container {
  display: flex;
  width: 1280px;
  flex-direction: column;
  margin: 0 auto;
}

.review-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 24px;
}

.star-rating {
  position: relative;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 30px;
  color: #f2ede2;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e65819;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #e65819;
}

.rating > input:checked ~ label {
  color: #e65819;
}

input[type=radio]:focus + label {
  outline: 2px solid transparent;
}

.comment {
  width: 100%;
  display: flex;
}
.comment textarea {
  width: 100%;
  height: 120px;
}

body {
  background: #f2ede2;
  height: 100vh;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding: 20px 30px;
  position: fixed;
  z-index: 100;
  background: #f2ede2;
}
nav a {
  color: #e65819;
}
nav .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .categories,
nav .user {
  gap: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
}
nav .categories:hover {
  font-style: italic;
}

.footer {
  background: #eadab7;
  height: 400px;
}/*# sourceMappingURL=main.css.map */