@charset "UTF-8";
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
@import url("https://use.typekit.net/rih3pbi.css");
h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .review-card_top, .category-drink-container .card .content, .index-drinks-section .container .card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .logo {
    font-size: 14px;
  }
}

.btn-primary, .main-hero a {
  height: 60px;
  width: 275px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 728px) {
  .btn-primary, .main-hero a {
    height: 50px;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.main-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 80vh;
}
@media screen and (max-width: 728px) {
  .main-hero {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
  }
}
.main-hero .image {
  background-image: url("../images/bettybuzz-spritz.gif");
  background-size: cover;
  background-position: top;
}
@media screen and (max-width: 728px) {
  .main-hero .image {
    height: 80%;
    background-position: top;
  }
}
.main-hero .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 46px 46px 120px 46px;
}
@media screen and (max-width: 728px) {
  .main-hero .content {
    padding: 30px;
    display: inline-block;
  }
}
.main-hero .content h1 {
  margin-bottom: 12px;
}
.main-hero .content .logo {
  font-size: 50px !important;
}
@media screen and (max-width: 728px) {
  .main-hero .content .logo {
    font-size: 32px !important;
  }
}
.main-hero a {
  margin-top: 54px;
  background-color: transparent;
  color: #e65819;
  border: 1px solid #e65819;
}
@media screen and (max-width: 728px) {
  .main-hero a {
    background-color: transparent;
    color: #e65819;
    border: 1px solid #e65819;
    margin-top: 24px;
  }
}
.main-hero a:hover {
  background-color: #e65819;
  color: #f2ede2;
}

.banner {
  width: 100%;
  overflow: scroll;
  background: #513420;
  color: #f2ede2;
}
.banner .container {
  display: flex;
  justify-content: flex-start;
  text-wrap: nowrap;
  height: 40px;
  align-items: center;
}
.banner .container .label {
  font-family: Inter, sans-serif;
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
  margin-left: 40px;
}

.index-drinks-section {
  display: flex;
  flex-direction: column;
  margin: 34px auto;
  width: 1280px;
  gap: 24px;
}
@media screen and (max-width: 728px) {
  .index-drinks-section {
    width: 90%;
    gap: 20px;
  }
}
.index-drinks-section .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-bottom: 54px;
}
@media screen and (max-width: 728px) {
  .index-drinks-section .container {
    display: flex;
    flex-direction: column;
  }
}
.index-drinks-section .container .card {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (max-width: 728px) {
  .index-drinks-section .container .card {
    height: 300px;
  }
}
.index-drinks-section .container .card .image {
  width: 100%;
  height: 90%;
  background-size: cover;
}
@media screen and (max-width: 728px) {
  .index-drinks-section .container .card .image {
    background-position: center;
  }
}
.index-drinks-section .container .card .card-details {
  color: #513420;
  text-transform: uppercase;
}
.index-drinks-section .container .card .card-details img {
  height: 20px;
  transform: rotate(45deg);
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .review-card_top, .category-drink-container .card .content, .index-drinks-section .container .card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .logo {
    font-size: 14px;
  }
}

.btn-primary, .main-hero a {
  height: 60px;
  width: 275px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 728px) {
  .btn-primary, .main-hero a {
    height: 50px;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .review-card_top, .category-drink-container .card .content, .index-drinks-section .container .card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .logo {
    font-size: 14px;
  }
}

.btn-primary, .main-hero a {
  height: 60px;
  width: 275px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 728px) {
  .btn-primary, .main-hero a {
    height: 50px;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.category-main-title {
  width: 1280px;
  margin: 0 auto;
  height: 100px;
  padding: 120px 0px;
  border-bottom: 1px solid #826a5a;
}
@media screen and (max-width: 728px) {
  .category-main-title {
    width: 90%;
    padding: 100px 0;
    margin: 0 auto;
  }
}
.category-main-title p {
  text-transform: uppercase;
}

.category-drink-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280px;
  margin: 54px auto;
  gap: 24px;
}
@media screen and (max-width: 728px) {
  .category-drink-container {
    width: 90%;
    margin: 12 [x] auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20;
  }
}
.category-drink-container .card {
  margin-bottom: 34px;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .category-drink-container .card {
    margin-bottom: 20px;
  }
}
.category-drink-container .card .content {
  margin-top: 4px;
}
.category-drink-container .card .content h2 {
  text-transform: uppercase;
}
.category-drink-container .card .content img {
  height: 20px;
  transform: rotate(45deg);
}
.category-drink-container .card .image {
  width: 100%;
  height: 400px;
  background-size: cover;
}
@media screen and (max-width: 728px) {
  .category-drink-container .card .image {
    height: 250px;
    background-position: center;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .review-card_top, .index-drinks-section .container .card .card-details, .category-drink-container .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .logo {
    font-size: 14px;
  }
}

.btn-primary, .main-hero a {
  height: 60px;
  width: 275px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 728px) {
  .btn-primary, .main-hero a {
    height: 50px;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.drink-reviews-header {
  height: 90vh;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0 0;
  gap: 12px;
}
.drink-reviews-header .image {
  height: 60%;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 16px;
}
.drink-reviews-header .drink-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.drink-reviews-header .drink-details .review-overview {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.drink-reviews-header .drink-details .review-overview .review-row p {
  font-size: 14px;
}
.drink-reviews-header .drink-details .review-overview .review-row:nth-child(2) {
  text-align: right;
}
.drink-reviews-header .drink-details .btn-primary, .drink-reviews-header .drink-details .main-hero a, .main-hero .drink-reviews-header .drink-details a {
  width: 100%;
  color: #e65819;
  border: 1px solid #e65819;
}

.reviews-container {
  width: 90%;
  margin: 0 auto;
}
.reviews-container .review-card {
  width: 100%;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .review-card_top, .index-drinks-section .container .card .card-details, .category-drink-container .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .logo {
    font-size: 14px;
  }
}

.btn-primary, .main-hero a {
  height: 60px;
  width: 275px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 728px) {
  .btn-primary, .main-hero a {
    height: 50px;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 0px;
  border-bottom: 1px solid #b7a79d;
}
.review-card_top .user-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.review-card_top .user-info .user-date .name {
  color: #947e70;
  font-size: 12px;
  font-weight: 500;
}
.review-card_top .user-info img {
  height: 38px;
  width: 38px;
  border-radius: 100%;
}
.review-card_bottom p {
  font-size: 12px;
  line-height: 16px;
}
.review-card_scorecard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 12px;
  gap: 8px;
}
.review-card_scorecard .scorecard-block {
  padding: 8px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.review-card_scorecard .scorecard-block h3 {
  font-size: 18px;
  font-weight: 300;
}
.review-card_scorecard .scorecard-block h3 span {
  font-size: 12px;
}
.review-card_scorecard .scorecard-block .sub-title {
  font-size: 8px;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: #947e70;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.flx-row-start, nav .categories,
nav .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flx-row-sb, nav, .index-drinks-section .container .card .card-details, .category-drink-container .card .content, .review-card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.flx-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-full {
  width: 100%;
  padding: 60px;
  margin: 0 auto;
}

.width-margin {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #513420;
}
@media screen and (max-width: 728px) {
  .logo {
    font-size: 14px;
  }
}

.btn-primary, .main-hero a {
  height: 60px;
  width: 275px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 728px) {
  .btn-primary, .main-hero a {
    height: 50px;
  }
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h1 {
    font-size: 45px;
    line-height: 48px;
  }
}

h2 {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.1em;
  line-height: 28px;
}
@media screen and (max-width: 728px) {
  h2 {
    font-size: 20px;
    line-height: 20px;
  }
}

h3 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
}

h4 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  text-transform: capitalize;
}
@media screen and (max-width: 728px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-family: inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.form-container {
  width: 100%;
  background: #b98a65;
}
.form-container .container {
  width: 100%;
  margin: 0 auto;
  padding: 60px 30px;
}
@media screen and (min-width: 728px) {
  .form-container .container {
    width: 1280px;
    margin: 0 auto;
  }
}
.form-container .container .details h2 {
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form-container .container .row-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 728px) {
  .form-container .container .row-1 {
    flex-direction: row;
  }
}
.form-container .container .row-1 .star-rating {
  color: #b98a65;
  background: #f2ede2;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-container .container .row-1 .star-rating div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.form-container .container .row-1 .star-rating div:nth-child(1) p {
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}
.form-container .container .review-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-container .container .review-form .btn-primary, .form-container .container .review-form .main-hero a, .main-hero .form-container .container .review-form a {
  border: 1px solid #f2ede2;
  background: #b98a65;
  color: #f2ede2;
  width: 100%;
  margin-top: 20px;
}
.form-container .container .row-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.form-container .container .row-2 .comment {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-container .container .row-2 .comment textarea {
  background: #f2ede2;
  border: none;
  border-radius: 8px;
  height: 150px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: #513420;
  padding: 10px;
}
.form-container .container .row-2 .column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-container .container .row-2 .column .restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-container .container .row-2 .column .locale div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 8px;
}
.form-container .container .row-2 .column .locale div .city {
  width: 75%;
}
.form-container .container .row-2 .column .locale div .state {
  width: 25%;
}
.form-container .container .row-2 .column input[type=text] {
  background: #f2ede2;
  border: none;
  border-radius: 8px;
  height: 0px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: #513420;
  padding: 10px;
  height: 40px;
}
.form-container .container .row-2 .column input[type=text]::placeholder {
  color: #b7a79d;
}

.star-rating {
  position: relative;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  cursor: pointer;
  font-size: 30px;
  color: #f2ede2;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #b98a65;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: goldenrod;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: goldenrod;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: goldenrod;
}

.rating > input:checked ~ label {
  color: goldenrod;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: goldenrod;
}

input[type=radio]:focus + label {
  outline: 2px solid transparent;
}

.border {
  outline: none;
  border-color: none;
}

body {
  background: #f2ede2;
  height: 100vh;
  margin: 0 auto;
  color: #513420;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  width: 100%;
  padding: 20px 30px;
  position: fixed;
  z-index: 100;
  background: #f2ede2;
  border-bottom: 1px solid #513420;
}
@media screen and (max-width: 728px) {
  nav {
    padding: 10px 30px;
  }
}
nav a {
  color: #513420;
}
@media screen and (min-width: 728px) {
  nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
nav .categories,
nav .user {
  gap: 32px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  font-weight: 300;
}
@media screen and (max-width: 728px) {
  nav .categories,
  nav .user {
    font-size: 16px;
  }
}
@media screen and (max-width: 728px) {
  nav .categories {
    display: none;
  }
}
nav .categories:hover {
  font-style: italic;
}

.footer {
  background: #eadab7;
  height: 400px;
}/*# sourceMappingURL=main.css.map */